{{>header}}
<div class="formGroup">
    <h2>Add Place</h2>
    <form action="#/create" method="post">
        <div>
            <input type="text" placeholder="Title" name="title" value="">
        </div>
        <div>
            <input type="text" placeholder="Location" name="location" value="">
        </div>
        <div>
            <textarea placeholder="Description" name="description"></textarea>
        </div>
        <div>
            <input type="text" placeholder="Image Url" name="imageUrl" value="">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
{{>footer}}