<div class="card">
    <div class="imgContainer">
        <img src="{{imageUrl}}" alt="Place image">
    </div>
    <div>
        <h4>{{title}}</h4>
    </div>
    <div>
        <h5>Location: {{location}}</h5>
    </div>
    <div>
        <a href="#/details/{{objectId}}"><button type="button">Details</button></a>
    </div>
</div>