{{>header}}
<div class="formGroup">
    <h2>Register</h2>
    <form action="#/register" method="post">
        <div>
            <input type="email" placeholder="Email" name="email" value="">
        </div>
        <div>
            <input type="password" placeholder="Password" name="password" value="">
        </div>

        <div>
            <input type="password" placeholder="Repeat-Password" name="repeatPassword" value="">
        </div>

        <button type="submit">Register</button>
    </form>
</div>
{{>footer}}